page-about {
    video{
        margin-left: 1rem;
        width: 30rem;
        height: 20rem;
        margin-bottom: 1rem;
 
    }
    .video01{
        margin-bottom: 2rem;
    }
    img{
        width: 2.5rem;
        border-radius: 50%;
    }
   
    p{
        margin-top: -1rem;
    }
    .zan{
        margin-left: 11rem;
    }
    .pinglun{
        margin-left: 3rem;
    
    }
    .more{
        margin-left: 2rem;
    
    }
    .nav{
        border-top: solid 1px 	#C0C0C0
    }
}
